$error: hsl(3, 82%, 49%);
$error-5:#FEF4F3;
$blue: #4f6da1;
$blue-5:#F6F8FA;
$blue-hover:#476290;
$blue-pressed: #3B5178;
$blue-green: #6f929e;
$green: #b7da2b;
$green-5:#FBFDF3;
$green-hover: #A3C322;
$green-pressed: #91AE1E;
$medium-green:#90B36F;
$white: #ffffff;
$black: #333333;
$gray-300: #EFF0F2;
$gray-500: #E0E2E5;
$gray-600: #C1C5CB;
$gray-650: #cfd2d8;
$gray-700: #B1B6BD;
$gray-800: #9399A3;
$gray-900: #646D7C;

// Grid breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Body
//
// Settings for the <body> element.
$body-bg: $white;
$body-color: $gray-900;

// Sidebar
//
// Settings for the sidebar component
$sidebar-z-index: 3;
$sidebar-width: 261px;
$sidebar-transition-duration: 700ms;

// Header
//
// Settings for the header component
$header-height: 140px;

// Dashboard layout
//
// Settings for the dashboard layout
$mask-z-index: 2; // must be lower than sidebar-z-index
